@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{min-height: 500px; font-family: "Montserrat", sans-serif; font-size: 12.5px; font-weight: 400;color: #000000;margin: 0}
header{background-color:white;width: 100%;height: 58px;padding-top: 11px;border-bottom: 1px solid #DBDBDB;position: fixed;z-index: 30}
main{display: block}
.container{width: 95%; margin: auto;}
.image-100{width: 100%;height: auto}
.logo{height: 30px;width: auto;padding-top: 0px}
.menu{padding-top: 0px}
.menu ul{list-style: none;margin: 0;padding: 0;display: flex;flex-direction: row}
.menu ul li a{ text-decoration: none;padding: 10px;color: #000000}
.menu ul li a:hover{font-weight: 600}
.menu a{text-decoration: none;padding: 10px 0px;color: #000000}
.menu a:hover{font-weight: 600}
.img-icon{height: 20px;width: auto}
.header2{width: 100%;border-top: 1px solid #E4E4E4;opacity: 0;position: absolute;top:58px}
.fashion-box{padding: 10px 10px}
.fashion-box a{text-decoration: none; color: #000000;font-size: 12px}
.fashion-box a:hover{font-weight: 600}
.beauty-box{padding: 10px 0px;}
.beauty-box a{text-decoration: none; color: #000000;font-size: 12px}
.beauty-box a:hover{font-weight: 600}
.fashion-box a:hover .header2{opacity: 1}
.fashion-menu{padding: 10px 0px;}
.fashion-menu a{text-decoration: none; margin-right: 15px;color: #000000}
.fashion-menu a:hover{font-weight: 600}
#image-1{width: 50%;height: 700px;background-image: url("../image/image-1.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:58px;left:0}
#image-2{width: 50%;height: 700px;background-image: url("../image/image-2.jpg");background-repeat: none;background-size: cover;background-position: center right;position: relative;top:58px;right: 0}
#image-1:hover{width: 60%;height: 700px;background-image: url("../image/image-1.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:58px;left:0;transition: 1s}
#image-2:hover{width: 60%;height: 700px;background-image: url("../image/image-2.jpg");background-repeat: none;background-size: cover;background-position: center right;position: relative;top:58px;right: 0;transition: 1s}
.banner{width:100%;height:700px;margin: 0}
.banner-text a{text-decoration: none}
.banner-text{text-align:center;position: absolute;top: 300px; left: 30%; opacity: 0}
.text-white-dam{font-size: 25px;font-weight: 500; color: white}
.text-white{font-size: 18px;font-weight: 400;color: white}
.gach-chan{border-bottom: 2px solid white}
#image-1:hover .banner-text{opacity: 1}
#image-2:hover .banner-text{opacity: 1}
footer{width:100%; min-height: 300px;position: relative; background-color: white;padding-top: 20px}
.footer-box{padding: 0px 10px}
.form-control{width: 100%; padding: 5px 5px;margin: 3px 0px;border: 0px;border-bottom: 1px solid #000000; color: #000000;font-family: "Montserrat", sans-serif}
.text-den{color: #000000}
.text-den-dam{color: #000000;font-size: 14px}
.col-3 a{text-decoration:none}
.col-3 a span:hover{border-bottom: 0.5px solid #000000; transition: 1.5s}
.quote{width: 100%; min-height: 50px;background-color: white; margin-top:58px;font-size: 14px;text-align: center;padding: 40px 0px
}
.discover a{text-decoration: none;
}
.discover{padding-top:10px}
.discover-text{border-bottom: 1px solid #000000;color: #000000}
.discover a:hover span{font-weight: 600}
.video{width:100%; min-height: 200px}
.product{width: 100%;height: 400px}
#bag{width:100%;height: 400px;background-image: url("../image/bag-1.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:0;right: 0;z-index: 4;opacity: 1}
.product-text{width: 100px;height: 50px;position: absolute;top:180px;left:33%;z-index: 4;opacity: 0}
.product-text a{text-decoration: none; color: #000000;font-size: 17px; font-weight: 500;text-align: center}
.product-text a:hover p span{border-bottom: 1px solid #000000}
#bag:hover .product-text{opacity: 1}
#bag:hover{width:100%;height: 0px;background-image: url("../image/bag-1.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:0;right: 0;z-index: 4;opacity: 1;transition: 1s}
#ready-to-wear{width:100%;height: 400px;background-image: url("../image/image-6.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:0;left:0;z-index: 4;opacity: 1}
#ready-to-wear:hover .product-text{opacity: 1}
#ready-to-wear:hover{width:100%;height: 0px;background-image: url("../image/image-6.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:0;left:0;z-index: 4;opacity: 1;transition: 1s}
#shoes{width:100%;height: 400px;background-image: url("../image/image-5.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:0;left:0;z-index: 4;opacity: 1}
#shoes:hover .product-text{opacity: 1}
#shoes:hover{width:100%;height: 0px;background-image: url("../image/image-5.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:0;left:0;z-index: 4;opacity: 1;transition: 1s}
#jewelry{width:100%;height: 400px;background-image: url("../image/image-7.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:0;left:0;z-index: 4;opacity: 1}
#jewelry:hover .product-text{opacity: 1}
#jewelry:hover{width:100%;height: 0px;background-image: url("../image/image-7.jpg");background-repeat: none;background-size: cover;background-position: top left;position: relative;top:0;left:0;z-index: 4;opacity: 1;transition: 1s}
